:root {
    --square: min(64px, calc(100vw / 9));
    --light: lightsalmon;
    --dark: salmon;
    --background: lightcyan;
    --background-overflow: rgba(224,255,255, 0.9); 
    --selected: rgba(102, 51, 153, 0.70);
    --selected-text: white;
    --previous: rgba(186, 85, 211, 0.50);
    --hover: black;
    --hover-text: white;
    --active: darkRed;
    --active-text: lightCoral;
    --corner-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-overflow);
    height: 100%; /* vh but doesn't account for mobile address bar  */
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    min-height: 100%; /* vh but doesn't account for mobile address bar  */
    padding: 0 0.5em;
    margin: 0 auto;
}

/* Header */

header {
    margin: calc(var(--square) / 4);
}

header p {
    margin-top: 0.25em;
}

header #no-js {
    margin: 0.5em;
}

main {
    background-color: var(--light);
    display: flex;
    flex-flow: column-reverse wrap;
    height: calc(var(--square) * 8);
    width: calc(var(--square) * 8);
    border-radius: var(--corner-radius);
}

main.flip {
    flex-flow: column wrap-reverse;
}

main div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--square);
    min-height: var(--square);
    overflow: hidden;
}

main div.circle span {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: var(--selected);
}

main div.circle.P span,
main div.circle.p span,
main div.circle.R span,
main div.circle.r span,
main div.circle.N span,
main div.circle.n span,
main div.circle.B span,
main div.circle.b span,
main div.circle.Q span,
main div.circle.q span,
main div.circle.K span,
main div.circle.k span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:transparent;
    outline: var(--square) solid var(--selected);
    outline-offset: calc(var(--square) / 16);
}

main div.circle:hover span {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    background-color: var(--selected);
}

main div.selected {
    color: var(--selected-text) !important;
}

main div.selected span {
    background-color: var(--selected) !important;
}

main div.previous {
    color: var(--previous-text) !important;
}

main div.previous span {
    background-color: var(--previous) !important;
    width: 100%;
    height: 100%;
}

/* Board & Squares */

#a1, #c1, #e1, #g1, #b2, #d2, #f2, #h2,
#a3, #c3, #e3, #g3, #b4, #d4, #f4, #h4,
#a5, #c5, #e5, #g5, #b6, #d6, #f6, #h6,
#a7, #c7, #e7, #g7, #b8, #d8, #f8, #h8 {
    background-color: var(--dark);
}

/* Top left corner */
#a8 {
    border-radius: var(--corner-radius) 0 0 0;
}

/* Top right corner */
#h8 {
    border-radius: 0 var(--corner-radius) 0 0;
}

/* Bottom right corner */
#h1 {
    border-radius: 0 0 var(--corner-radius) 0;
}

/* Bottom left corner */
#a1 {
    border-radius: 0 0 0 var(--corner-radius);
}

/* Flip - Bottom right corner */
main.flip #a8 {
    border-radius: 0 0 var(--corner-radius) 0;
}

/* Flip - Bottom left corner */
main.flip #h8 {
    border-radius: 0 0 0 var(--corner-radius);
}

/* Flip - Top left corner */
main.flip #h1 {
    border-radius: var(--corner-radius) 0 0 0;
}

/* Flip - Top right corner*/
main.flip #a1 {
    border-radius: 0 var(--corner-radius) 0 0;
}

main div:hover {
    cursor: pointer;
}

main div span {
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

main div.P span {
    background-image: url(./media/chess_pawn_light.svg);
}

main div.p span {
    background-image: url(./media/chess_pawn_dark.svg);
}

main div.R span {
    background-image: url(./media/chess_rook_light.svg);
}

main div.r span {
    background-image: url(./media/chess_rook_dark.svg);
}

main div.N span {
    background-image: url(./media/chess_knight_light.svg);
}

main div.n span {
    background-image: url(./media/chess_knight_dark.svg);
}

main div.B span {
    background-image: url(./media/chess_bishop_light.svg);
}

main div.b span {
    background-image: url(./media/chess_bishop_dark.svg);
}

main div.Q span {
    background-image: url(./media/chess_queen_light.svg);
}

main div.q span {
    background-image: url(./media/chess_queen_dark.svg);
}

main div.K span {
    background-image: url(./media/chess_king_light.svg);
}

main div.k span {
    background-image: url(./media/chess_king_dark.svg);
}

main#board div {
    position: relative;
}

/* Board Labels */

main div:before, main div:after {
    content: "";
    position: absolute;
    font-size: 0.4em;
    padding: 0.5em;
}

main div:before {
    top: 0;
    left: 0;
}

main:not(.flip) #a1:before {
    content: "1";
}

main:not(.flip) #a2:before {
    content: "2";
}

main:not(.flip) #a3:before {
    content: "3";
}

main:not(.flip) #a4:before {
    content: "4";
}

main:not(.flip) #a5:before {
    content: "5";
}

main:not(.flip) #a6:before {
    content: "6";
}

main:not(.flip) #a7:before {
    content: "7";
}

main:not(.flip) #a8:before {
    content: "8";
}

main.flip #h1:before {
    content: "1";
}

main.flip #h2:before {
    content: "2";
}

main.flip #h3:before {
    content: "3";
}

main.flip #h4:before {
    content: "4";
}

main.flip #h5:before {
    content: "5";
}

main.flip #h6:before {
    content: "6";
}

main.flip #h7:before {
    content: "7";
}

main.flip #h8:before {
    content: "8";
}

main div:after {
    bottom: 0;
    right: 0;
}

main:not(.flip) #a1:after {
    content:"a";
}

main:not(.flip) #b1:after {
    content:"b";
}

main:not(.flip) #c1:after {
    content:"c";
}

main:not(.flip) #d1:after {
    content:"d";
}

main:not(.flip) #e1:after {
    content:"e";
}

main:not(.flip) #f1:after {
    content:"f";
}

main:not(.flip) #g1:after {
    content:"g";
}

main:not(.flip) #h1:after {
    content:"h";
}

main.flip #a8:after {
    content:"a";
}

main.flip #b8:after {
    content:"b";
}

main.flip #c8:after {
    content:"c";
}

main.flip #d8:after {
    content:"d";
}

main.flip #e8:after {
    content:"e";
}

main.flip #f8:after {
    content:"f";
}

main.flip #g8:after {
    content:"g";
}

main.flip #h8:after {
    content:"h";
}

/* Footer */

footer {
    margin: calc(var(--square) / 4);
}

footer button {
    background-color: var(--selected);
    color: var(--selected-text);
    border-radius: var(--corner-radius);
    padding: 0.5em 1.0em;
    margin-bottom: 1em;
    border: none;
}

footer button:hover {
    background-color: var(--hover);
    color: var(--hover-text);
}

footer button:active {
    background-color: var(--active);
    color: var(--active-text);
}

footer p:first-child {
    padding-bottom: 0.25em;
}

footer p.attribution {
    font-size: 0.6em;
    line-height: 1.5em;
}